{% extends 'AppBundle::base.html.twig' %}

{% block title %}RIVAS RUIDO APP{% endblock %}

{% block body %}
    <div id="wrapper">
        <h1>RIVAS RUIDO APP - NUEVO GRUPO</h1>
        <div id="container">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
